openapi: 3.0.0
info:
  title: beaconcha.in Multi EVM API
  description: |-
    Supported networks: Ethereum (CL+EL), Gnosis (EL), Optimism. Some comments are in https://docs.google.com/document/d/1c0JXxsMj9qa_RfEG4ecodVlJZPYUayI8UBY8HyBFR7Q/edit?usp=sharing'
    
    To authenticate your API request beaconcha.in uses API Keys. Supply your API Key either by:
    - Setting the `Authorization` header in the following format: `Authorization: Bearer <your-api-key>`. (recommended)
    - Setting the URL query parameter in the following format: `api_key={your_api_key}`.\
      Example: `https://beaconcha.in/api/v2/example?field=value&api_key={your_api_key}`
  version: 2.4.0.lucca
  contact: {}
servers:
  - url: https://beaconcha.in
paths:
  /api/v2/healthz:
    get:
      description: Health endpoint for monitoring whether the explorer is synchronized.
      tags:
        - Health
      summary: Health of the explorer
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                allOf:
                  - $ref: '#/components/schemas/APIHealthResponse'
  /api/v2/healthz-loadbalancer:
    get:
      description: Health endpoint for monitoring whether the explorer-api maintains a healthy connection to the database.
      tags:
        - Health
      summary: Health of the explorer-api
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
  /api/i/login:
    post:
      tags:
        - Authentication
      description: |-
        **Internal only!!** Create a new login session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: OK. Session cookie is set.
          headers:
            location:
              schema:
                type: string
              description: Redirect location.
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/oauth/authorize:
    post:
      tags:
        - Authentication
      description: |-
        **Internal only!!** Create an authorization request using the Authorization Code Flow with PKCE. **Note:** This endpoint is the internal request sent after the `GET /authorize` (see [RFC 7636 Section 4.3](https://datatracker.ietf.org/doc/html/rfc7636#section-4.3)) request is approved by the user. This specific endpoint underlies no RFC specification. If the user approves, the response will automatically redirect the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                response_type:
                  type: string
                client_id:
                  type: string
                redirect_uri:
                  type: string
                scope:
                  type: string
                state:
                  type: string
                code_challenge:
                  type: string
                code_challenge_method:
                  type: string
      responses:
        '302':
          description: Found
          headers:
            location:
              schema:
                type: string
              description: Redirect location.
        '400':
          description: Bad Request. The request could not be processed because the `redirect_uri` parameter was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/oauth/token:
    post:
      tags:
        - Authentication
      description: |-
        Get an access token using either the [Authorization Code Flow with PKCE](https://datatracker.ietf.org/doc/html/rfc7636#section-4.5) or a [Refresh Token](https://datatracker.ietf.org/doc/html/rfc6749#section-6).
      requestBody:
        required: true
        description: Please note that the media type must be `application/x-www-form-urlencoded`, **not** JSON.
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - type: object
                  properties:
                    grant_type:
                      type: string
                    client_id:
                      type: string
                    code:
                      type: string
                    code_verifier:
                      type: string
                    redirect_uri:
                      type: string
                - type: object
                  properties:
                    grant_type:
                      type: string
                    refresh_token:
                      type: string
                    scope:
                      type: string
            examples:
              Authorization Code Flow with PKCE:
                value:
                  grant_type: authorization_code
                  client_id: string
                  code: string
                  code_verifier: string
                  redirect_url: string
              Refresh Token:
                value:
                  grant_type:  refresh_token
                  refresh_token: string
                  scope: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      access_token:
                        type: string
                      refresh_token:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/oauth/token:
    post:
      tags:
        - Authentication
      description: |-
        **For web frontend login only!** Exchange user credentials for a token using the Resource Owner Password Flow. See [RFC 6749 Section 4.3.2](https://datatracker.ietf.org/doc/html/rfc6749#section-4.3.2) for a detailed description of the specifications.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                username:
                  type: string
                password:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      access_token:
                        type: string
                      refresh_token:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/users/me/api-keys:
    post:
      tags:
        - Authentication
      description: |-
        Create a new API key, used for public API endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          api_key:
                            type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/ad-configurations:
    post:
      tags:
        - Ad Configurations
      description: Create a new ad configuration.
      requestBody:
        required: true
        description: |-
          `key`: Provide a key for the ad configuration. Does not need to be unique.

          `jquery_selector`: Provide a jQuery selector for the ad configuration.

          `insert_mode`: Provide the insert mode for the ad configuration. Possible values are `before`, `after`, `replace`, `insert`.

          `refresh_interval`: Provide the refresh interval for the ad configuration in seconds.

          `for_all_users`: Provide whether the ad configuration is for all users, even if they have NoAds enabled.

          `banner_id`: Provide the banner id for the ad configuration. Mutually exclusive with `html_content`.

          `html_content`: Provide the html content for the ad configuration. Mutually exclusive with `banner_id`.

          `enabled`: Provide whether the ad configuration is enabled.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AdConfigurationResponse'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdConfigurationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    get:
      tags:
        - Ad Configurations
      description: Get a list of ad configurations.
      parameters:
        - name: keys
          in: query
          description: Provide a comma seperated list of keys to filter the ad configurations by. If ommited, all ad configurations will be returned.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AdConfigurationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/ad-configurations/{key}:
    put:
      tags:
        - Ad Configurations
      description: Update an existing ad configuration.
      parameters:
        - name: key
          in: path
          description: Provide the key of the ad configuration to update.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        description: |-
          `jquery_selector`: Provide a jQuery selector for the ad configuration.

          `insert_mode`: Provide the insert mode for the ad configuration. Possible values are `before`, `after`, `replace`, `insert`.

          `refresh_interval`: Provide the refresh interval for the ad configuration in seconds.

          `for_all_users`: Provide whether the ad configuration is for all users, even if they have NoAds enabled.

          `banner_id`: Provide the banner id for the ad configuration. Mutually exclusive with `html_content`.

          `html_content`: Provide the html content for the ad configuration. Mutually exclusive with `banner_id`.

          `enabled`: Provide whether the ad configuration is enabled.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AdConfigurationResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdConfigurationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Ad Configurations
      description: Delete an ad configuration.
      parameters:
        - name: key
          in: path
          description: Provide the key of the ad configuration to update.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/users/me/dashboards:
    get:
      tags:
        - Dashboards
      description: Get a list of dashboards associated with the authenticated user.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          validator_dashboards:
                            type: array
                            items:
                              $ref: '#/components/schemas/Dashboard'
                          account_dashboards:
                            type: array
                            items:
                              $ref: '#/components/schemas/Dashboard'
  /api/i/search:
    post:
      tags:
        - Search
      description: |-
        Search endpoint. Request body fields:
        - `input` - Provide the search query.
        - `networks` (optional) - Provide an array of network names or chain IDs to filter results by.
        - `types` (optional) - Provide an array of types to filter results by. Possible options:
          - `validator_by_index`
          - `validator_by_public_key`
          - `validators_by_deposit_address`
          - `validators_by_deposit_ens_name`
          - `validators_by_withdrawal_credential`
          - `validators_by_withdrawal_address`
          - `validators_by_withdrawal_ens`
          - `validators_by_graffiti`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                networks:
                  type: array
                  items:
                    type: integer
                    format: int64
                types:
                  type: array
                  items:
                    type: string
                include_validators:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  chain_id:
                    type: integer
                    format: int64
                  hash_value:
                    type: string
                    nullable: true
                  str_value:
                    type: string
                    nullable: true
                  num_value:
                    type: integer
                    format: int64
                    nullable: true
                  validators:
                    type: array
                    items:
                      type: integer
                      format: int64
                    nullable: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards:
    post:
      tags:
        - Account Dashboards
      description: Create a new account dashboard. **Note:** New dashboards will automatically have a default group created.
      requestBody:
        required: true
        description: |-
          `name`: Specify the name of the dashboard.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
        '400':
          description: Bad Request. The request could not be performed by the server due to invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their dashboard limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}:
    get:
      tags:
        - Account Dashboards
      description: Get overview information for a specified dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          groups:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                          accounts:
                            type: array
                            items:
                              type: object
                              properties:
                                address:
                                  type: string
                                group_id:
                                  type: number
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Account Dashboards
      description: Delete a specified account dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/groups:
    post:
      tags:
        - Account Dashboards
      description: Create a new group in a specified account dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Specify the name of the group.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their dashboard group limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/groups/{group_id}:
    put:
      tags:
        - Account Dashboards
      description: Update a group's name in a specified account dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Specify the name of the group.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Account Dashboards
      description: Delete a specified group in a specified dashboard. All included accounts will be moved to the default group.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/accounts:
    post:
      tags:
        - Account Dashboards
      description: Add new accounts to a specified dashboard or update the group of already-added accounts.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: |-
          `accounts`: Provide an array of account addresses that should get added.

          `group_id`: (optional) Provide a single group id, to which all accounts get added to. If ommited, the default group will be used.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accounts:
                  type: array
                  items:
                    type: string
                group_id:
                  type: number
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            public_key:
                              type: string
                            group_id:
                              type: number
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their dashboard accounts limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    get:
      tags:
        - Account Dashboards
      description: Get a list of accounts for a specified dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/NetworkParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Response Object
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Account Dashboards
      description: Remove specific accounts from a dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - name: accounts
          in: query
          description: |-
            Provide a comma seperated list of accounts that should get removed. If ommited, all accounts will be removed from the dashboard.

            **Internal Note:** should have request body for extensive requests like `PUT /api/i/notification-dashboards/{dashboard_id}/validators/events`, but OpenAPI 3.0 standard forbids request body for `DELETE` endpoints.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/accounts/{address}:
    put:
      tags:
        - Account Dashboards
      description: |-
        Set the color associated with a specific account, which will be visible on the transactions table on the frontend. 

        **Internal note:** Maybe we won't document this publicly.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/AddressParameter'
      requestBody:
        description: '`color`: Provide the hex color in the format `#FFFFFF`.'
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  type: string
                visible:
                  type: boolean
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/public-ids:
    post:
      tags:
        - Account Dashboards
      description: Create a new public ID for a specified dashboard. This token can be used as an ID by other users for non-modyfing (i.e. GET) endpoints only. Currently limited to one per dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Provide a public name for the dashboard

          `share_settings`:

          - `group_names`: If set to `true`, group names are shown publicly.

          - `transactions_table_settings`: if set to `true`, the settings for the transactions table are used publicly.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                share_settings:
                  type: object
                  properties:
                    group_names:
                      type: boolean
                    transactions_table_settings:
                      type: boolean
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                          name:
                            type: string
                          share_settings:
                            type: object
                            properties:
                              group_names:
                                type: boolean
                              transactions_table_settings:
                                type: boolean
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their public ID limit for this dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/public-ids/{public_dashboard_id}:
    put:
      tags:
        - Account Dashboards
      description: Update a specified public ID for a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/DashboardTokenPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                share_settings:
                  type: object
                  properties:
                    group_names:
                      type: boolean
                    transactions_table_settings:
                      type: boolean
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                          share_settings:
                            type: object
                            properties:
                              group_names:
                                type: boolean
                              transactions_table_settings:
                                type: boolean
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Account Dashboards
      description: Delete a public public ID for a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/DashboardTokenPath'
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/transactions:
    get:
      tags:
        - Account Dashboards
      description: Get a list of the latest transactions associated with a dashboards accounts.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/DashboardGroupParameter'
        - $ref: '#/components/parameters/HideSpamParameter'
        - $ref: '#/components/parameters/NetworkParameter'
        - $ref: '#/components/parameters/TokenParameter'
        - $ref: '#/components/parameters/MethodParameter'
        - $ref: '#/components/parameters/TransactionDirectionParameter'
        - $ref: '#/components/parameters/TransactionTypeParameter'
        - $ref: '#/components/parameters/StartDateParameter'
        - $ref: '#/components/parameters/EndDateParameter'
        - $ref: '#/components/parameters/StartBlockParameter'
        - $ref: '#/components/parameters/EndBlockParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumTransactionResponse'
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/account-dashboards/{dashboard_id}/transactions/settings:
    put:
      tags:
        - Account Dashboards
      description: Update the settings for a specified dashboard's transactions table.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shown_columns:
                  type: object
                  properties:
                    method:
                      type: boolean
                    time:
                      type: boolean
                    type:
                      type: boolean
                    token:
                      type: boolean
                    from:
                      type: boolean
                    to:
                      type: boolean
                    tx_fee:
                      type: boolean
                historical_values_enabled:
                  type: boolean
                ens_names_enabled:
                  type: boolean
                time_zone:
                  type: string
      responses:
        '200':
          description: OK. TODO response object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards:
    post:
      tags:
        - Validator Dashboards
      description: Create a new validator dashboard. **Note:** New dashboards will automatically have a default group created.
      requestBody:
        required: true
        description: |-
          `name`: Specify the name of the dashboard.
          
          `network`: Specify the network for the dashboard. Possible options are:
            - `ethereum`
            - `gnosis`
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                network:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: number
                          user_id:
                            type: number
                          network:
                            type: string
                          name:
                            type: string
                          created_at:
                            type: string
                            format: date-time
        '400':
          description: Bad Request. The request could not be performed by the server due to invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their dashboard limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}:
    get:
      tags:
        - Validator Dashboards
      description: Get overview information for a specified dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          groups:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                          validators:
                            type: object
                            properties:
                              total:
                                type: number
                              active:
                                type: string
                              exited:
                                type: string
                              slashed:
                                type: number
                          efficiency:
                            type: number
                          rewards:
                            type: object
                            properties:
                              total:
                                type: number
                              7d:
                                type: number
                              31d:
                                type: number
                              365d:
                                type: number
                          luck:
                            type: object
                            properties:
                              proposal:
                                type: number
                              sync:
                                type: number
                          apr:
                            type: object
                            properties:
                              total:
                                type: number
                              7d:
                                type: number
                              31d:
                                type: number
                              365d:
                                type: number
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Validator Dashboards
      description: Delete a specified validator dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/name:
    put:
      tags:
        - Validator Dashboards
      description: Update the name of a specified validator dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Specify the new name of the validator dashboard.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: OK. Returns the validator dashboard object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: number
                          user_id:
                            type: number
                          network:
                            type: string
                          name:
                            type: string
                          created_at:
                            type: string
                            format: date-time
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/groups:
    post:
      tags:
        - Validator Dashboards
      description: Create a new group in a specified validator dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Specify the name of the group.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their dashboard group limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/groups/{group_id}:
    put:
      tags:
        - Validator Dashboards
      description: Update a group's name in a specified validator dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Specify the name of the group.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Validator Dashboards
      description: Delete a specified group in a specified dashboard. All included validators will be moved to the default group.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/validators:
    post:
      tags:
        - Validator Dashboards
      description: Add new validators to a specified dashboard or update the group of already-added validators.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: |-
          `validators`: Provide a comma seperated list of validator indicies or public keys that should get added.

          `group_id`: (optional) Provide a single group id, to which all validators get added to. If ommited, the default group will be used.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validators:
                  type: array
                  items:
                    type: string
                group_id:
                  type: number
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            public_key:
                              type: string
                            group_id:
                              type: number
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their dashboard validators limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    get:
      tags:
        - Validator Dashboards
      description: Get a list of validators for a specified dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdQuery'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Response Object
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Validator Dashboards
      description: Remove validators from a dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - name: validators
          in: query
          description: |-
            Provide a comma seperated list of validator indices or public keys that should get removed.

          schema:
            type: string
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/public-ids:
    post:
      tags:
        - Validator Dashboards
      description: Create a new public ID for a specified dashboard. This token can be used as an ID by other users for non-modyfing (i.e. GET) endpoints only. Currently limited to one per dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        description: |-
          `name`: Provide a public name for the dashboard

          `share_settings`:

          - `group_names`: If set to `true`, group names are shown publicly.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                share_settings:
                  type: object
                  properties:
                    group_names:
                      type: boolean
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIdResponse'
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their public ID limit for this dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/public-ids/{public_dashboard_id}:
    put:
      tags:
        - Validator Dashboards
      description: Update a specified public ID for a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/DashboardTokenPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                share_settings:
                  type: object
                  properties:
                    group_names:
                      type: boolean
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                          share_settings:
                            type: object
                            properties:
                              group_names:
                                type: boolean
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Validator Dashboards
      description: Delete a public public ID for a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/DashboardTokenPath'
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/slot-viz:
    get:
      tags:
        - Validator Dashboards
      description: Get slot viz information for a specified dashboard
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO Return object
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/summary:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of summaries of the last 24 hours, 7 days, 31 days and all time for each group in a specified validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DashboardSummaryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/groups/{group_id}/summary:
    get:
      tags:
        - Validator Dashboards
      description: Get a detailed summary of a specified group in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
      responses:
        '200':
          description: OK. TODO Response
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/summary-chart:
    get:
      tags:
        - Validator Dashboards
      description: Get summary chart data for each group in a specified validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO response object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/validator-indices:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of all validator indices contained in a specified validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdQuery'
        - name: duty
          in: query
          required: false
          description: |-
            Filter results by duty. Possible options are:
            - `sync`
            - `proposal`
            - `slashed`
          schema:
            type: string
        - name: period
          in: query
          required: false
          description: |-
            Filter results by how long ago the duty happened. Possible options are:
            - `24h`
            - `7d`
            - `30d`
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: number
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/rewards:
    get:
      tags:
        - Validator Dashboards
      description: Get an aggregated list of the latest validator rewards associated with a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            epoch:
                              type: integer
                            epoch_start_date_time:
                              type: string
                              format: date-time
                            daily:
                              type: boolean
                            date:
                              type: string
                              format: date
                            rewards:
                              $ref: '#/components/schemas/EthereumValidatorReward'
                  - $ref: '#/components/schemas/PagingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/rewards-chart:
    get:
      tags:
        - Validator Dashboards
      description: Get summary chart data for each group in a specified validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO response object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/duties/{epoch}:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of duties for all validators of a specified dashboard in a specified epoch.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/EpochNumbersParameter'
        - $ref: '#/components/parameters/GroupIdQuery'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/blocks:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of blocks produced by validators in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/epoch-heatmap:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of heatmap information for validators in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/daily-heatmap:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of heatmap information for validators in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - name: period
          in: query
          required: false
          description: |-
            The period of time to get the data for. Possible options are:
            - `7d`
            - `30d`
            - `365d`
          schema:
            type: string
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/groups/{group_id}/epoch-heatmap/{epoch}:
    get:
      tags:
        - Validator Dashboards
      description: Get heatmap tooltip information for a specified epoch of a specified group in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
        - $ref: '#/components/parameters/EpochNumbersParameter'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/groups/{group_id}/daily-heatmap/{date}:
    get:
      tags:
        - Validator Dashboards
      description: Get heatmap tooltip information for a specified epoch of a specified group in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
        - name: date
          in: path
          required: true
          description: |-
            The date to get the heatmap information for. Must be in the format `YYYY-MM-DD`.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/execution-layer-deposits:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of execution layer deposits for validators in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/consensus-layer-deposits:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of consensus layer deposits for validators in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/total-execution-layer-deposits:
    get:
      tags:
        - Validator Dashboards
      description: Get the total deposited amount for a validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/total-consensus-layer-deposits:
    get:
      tags:
        - Validator Dashboards
      description: Get the total deposited amount for a validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/withdrawals:
    get:
      tags:
        - Validator Dashboards
      description: Get a list of withdrwawals associated with validators in a specified dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/validator-dashboards/{dashboard_id}/total-withdrawals:
    get:
      tags:
        - Validator Dashboards
      description: Get the total withdrawn amount for a validator dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK. TODO Return object
          content:
            application/json:
              schema:
                allOf:
                  - type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/notification-dashboards/{dashboard_id}/settings:
    put:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Update the general notification settings for the authenticated user.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                do_not_disturb:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    expire_in_hours:
                      type: number
                enabled_notifications:
                  type: object
                  properties:
                    email:
                      type: boolean
                    push:
                      type: boolean
                    webhook:
                      type: boolean
                webhoooks:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/notification-dashboards/{dashboard_id}/validators:
    get:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Get a list of validator notification subscription associated with this user.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/SearchParameter'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            public_key:
                              type: string
                            index:
                              type: number
                            events:
                              type: array
                              items:
                                type: string
                            group_id:
                              type: number
    post:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Create new validator subscriptions.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: |-
          `validators`: Provide an array of validator indicies or public keys that should get subscribed.

          `event_types`: For each type of event set whether you want to be notified when it happens.:

          - `validator_offline`

          - `proposal_missed`

          - `proposal_submitted`

          - `validator_slashed`

          - `sync_committee`

          - `attestation_missed`

          - `withdrawal_processed`

          `group_id`: Provide a single group id, to which all subscriptions get added to. If ommited, the default group will be used.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validators:
                  type: array
                  items:
                    type: string
                enabled_event_types:
                  type: object
                  properties:
                    validator_offline:
                      type: boolean
                    proposal_missed:
                      type: boolean
                    proposal_submitted:
                      type: boolean
                    validator_slashed:
                      type: boolean
                    sync_committee:
                      type: boolean
                    attestation_missed:
                      type: boolean
                    withdrawal_processed:
                      type: boolean
                group_id:
                  type: number
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            public_key:
                              type: string
                            events:
                              type: array
                              items:
                                type: string
                            group_id:
                              type: number
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
        '409':
          description: Conflict. The request could not be performed by the server because the authenticated user has already reached their validator notification subscription limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
    delete:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Unsubscribe specific validators from notifications.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - name: validators
          in: query
          required: false
          description: |-
            Provide a comma seperated list of validator indices or public keys that should get unsubscribed to. If ommited, all validators will be unsubscribed to.

            **Internal Note:** should have request body for extensive requests like `PUT /api/i/notification-dashboards/{dashboard_id}/validators/events`, but OpenAPI 3.0 standard forbids request body for `DELETE` endpoints.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The request was successful.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/notification-dashboards/{dashboard_id}/groups/{group_id}/validators:
    put:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Update the group associated with specified validator subscriptions for the authenticated user.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/GroupIdPath'
      requestBody:
        description: |-
          `group_id`: Provide a single group id, to which all specified validators get added to.

          `validators`: (optional) Provide an array of subscribed validator indices or public keys, that should have their notification group changed. For requests with extensive amounts of validators, this field can be used instead of the query parameter to avoid `414` errors. **Note:** If this field is set, the query parameter will be ignored.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: number
                validators:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/notification-dashboards/{dashboard_id}/validators/events:
    put:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Update the event types associated with specified validator subscriptions for the authenticated user.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - name: validators
          in: query
          required: false
          description: Comma seperated list of validator indices or public keys that should have their subscribed notification events changed. If ommitted, all subscribed validators will be affected.
          schema:
            type: string
      requestBody:
        description: |-
          `event_types`:  For each type of event set whether you want to be notified when it happens.

          - `validator_offline`

          - `proposal_missed`

          - `proposal_submitted`

          - `validator_slashed`

          - `sync_committee`

          - `attestation_missed`

          - `withdrawal_processed`

          **Internal note:** Maybe we won't document the next one publicly to avoid confusion.

          `validators`: (optional) Provide an array of subscribed validator indices or public keys, that should have their subscribed notification events changed. For requests with extensive amounts of validators, this field can be used instead of the query parameter to avoid `414` errors. **Note:** If the query parameter is set, this field will be ignored. 
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled_event_types:
                  type: object
                  properties:
                    validator_offline:
                      type: boolean
                    proposal_missed:
                      type: boolean
                    proposal_submitted:
                      type: boolean
                    validator_slashed:
                      type: boolean
                    sync_committee:
                      type: boolean
                    attestation_missed:
                      type: boolean
                    withdrawal_processed:
                      type: boolean
                validators:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/i/notification-dashboards/{dashboard_id}/clients:
    get:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Get a list of client notification subscriptions associated with this user.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            version:
                              type: string
                            date:
                              type: string
    put:
      tags:
        - Notification Dashboards (WIP, don't use)
      description: Update the client subscriptions for the authenticated user.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: '`clients`: Provide an clients of events that should get subscribed to. See https://beaconcha.in/ethClients for possible options. **Note:** All clients that are not provided will be unsubscribed.'
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clients:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            public_key:
                              type: string
                            events:
                              type: array
                              items:
                                type: string
                            group_id:
                              type: number
        '400':
          description: Bad Request. The request could not be performed by the server due to malformed syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/validators:
    get:
      tags:
        - Validators
      description: Get a list of validators.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/ValidatorStatusesParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/validators/{validator}:
    get:
      tags:
        - Validators
      description: Get information for a specified validator.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/ValidatorParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EthereumValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/validators/{validator}/duties:
    get:
      tags:
        - Validators
      description: Get validator duty information for a specified validator
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/ValidatorParameter'
        - $ref: '#/components/parameters/DailyParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumValidatorDutiesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/addresses/{address}/validators:
    get:
      tags:
        - Validators
      description: Get a list of validators deposited by a specified address.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/AddressParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/withdrawal-credentials/{credential}/validators:
    get:
      tags:
        - Validators
      description: Get a list of validators associated with a specified withdrawal credential.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/WithdrawalCredentialsParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/epochs:
    get:
      tags:
        - Epochs
      description: Get a list of the latest epochs.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/FinalityParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumEpochResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/epochs/{epoch}:
    get:
      tags:
        - Epochs
      description: Get information for a specified epoch.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/EpochNumbersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EthereumEpochResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/blocks:
    get:
      tags:
        - Blocks and Slots
      description: Get a list of the latest execution layer blocks.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/GraffitiParameter'
        - $ref: '#/components/parameters/BlockStatusesParameter'
        - $ref: '#/components/parameters/FinalityParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumBlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/blocks/{block}:
    get:
      tags:
        - Blocks and Slots
      description: Get information for a specified execution layer block
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/BlockNumbersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EthereumBlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/slots:
    get:
      tags:
        - Blocks and Slots
      description: Get a list of the latest consensus layer slots
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/GraffitiParameter'
        - $ref: '#/components/parameters/BlockStatusesParameter'
        - $ref: '#/components/parameters/FinalityParameter'
        - $ref: '#/components/parameters/CursorParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagingResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EthereumBlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageResponse'
  /api/v2/networks/{network}/slots/{slot}:
    get:
      tags:
        - Blocks and Slots
      description: Get information for a specified consensus layer slot.
      parameters:
        - $ref: '#/components/parameters/Layer1NetworkPath'
        - $ref: '#/components/parameters/SlotNumbersParameter'
      responses:
        '200':
          description: OK
[...]
